// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fontColor: #123;
$backgroundColor: #CDF999;

@font-face 
{
    font-family: "com4t";
    src: url('com4t-webfont.eot');
    src: url('com4t-webfont.eot?#iefix') format('embedded-opentype'),
         url('com4t-webfont.woff') format('woff'),
         url('com4t-webfont.ttf') format('truetype'),
         url('com4t-webfont.svg#com4t_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection
{
	background:#3B5323;
	color:#FFF;
}
::-moz-selection
{
	background:#3B5323;
	color:#FFF;
} 

*
{
	font-family: "com4t";
}

body 
{
	color: $fontColor;
	background: $backgroundColor;

	h2
	{
		color:#111;
		font-size:44px;
	}

	a, a:visited
	{
		color:#012;
		text-decoration:none;
	}
	a:hover
	{
		color:blue;
	}

	form.new_tweet
	{

		background:#CDF666;
		padding:15px;
		margin-top:5px;
		width:444px;
		border: 3px solid #000;
		border-radius:8px;

		p.post_stat
		{
			font-size:20px;
			font-weight:bold;
		}

		label, input
		{
			display:inline-block;
			font-size:20px;
			padding:3px;
		}

		div.field_with_errors
		{
			display:inline;
		}
	}

	ul.tweets
	{
		position:relative;
		right:35px;
	}

	ul
	{

		li.error
		{
			color:red;
			list-style:none;
			font-style:italic;
			font-size:18px;
		}

		li.tweet
		{
			list-style:none;
			background:#CDF666;
			padding:10px;
			margin-top:5px;
			width:30%;
			min-width:200px;
			max-width:444px;
			border: 3px solid #000;
			border-radius:8px;

			p.tweet_content:before
			{
				content: "I tweeted: ";
			}

			div.tweet_links
			{
				background:#CDF333;
				padding:1px 10px;
				border: 2px solid #000;
				border-radius:8px;
			}
		}
	}
}